<!-- image-cropper.component.html -->
<div class="modal fade" id="viewImage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Image Cropper</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Crop the image below:</p>
                <img #image src="../assets/Images/sample-image.jpg" alt="Image to crop" />
                <div *ngIf="croppedImage" class="mt-3">
                    <h6>Cropped Image Preview:</h6>
                    <img [src]="croppedImage" alt="Cropped Image" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="cropImage()">Crop</button>
                <button type="button" class="btn btn-warning" (click)="resetCropper()">Reset</button>
            </div>
        </div>
    </div>
</div>
